<?xml version="1.0" encoding="utf-8" ?>
<config>
  <gameName>JJuno Infection!</gameName>
  
  <presetName>Jjuno Infection</presetName>
  <playerCount>8</playerCount>
  <minPlayers>3</minPlayers>
  <roundCount>5</roundCount>
  
  <!-- File locations -->
  <battlenetExecutable>C:\Program Files (x86)\Blizzard App\Battle.net.exe</battlenetExecutable>
  <overwatchSettingsFile>C:\Users\{username}\Documents\Overwatch\Settings\Settings_v0.ini</overwatchSettingsFile>
</config>